<% include ../partials/header %>

<!--NAVIGATION BAR FOR ADMIN-->
<% include ../partials/userNav %>
    
<!--SHOW course EDIT FORM-->
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
       <form action="/user/1/course/update/<%=course._id%>" method="POST">
          <div class="form-group">
            <label for="name" class="form-control-label" style="color:white;">Edit Title</label>
            <input name="course[name]" type="text" class="form-control" value="<%=course.name%>">
          </div>
          
           <div class="form-group">
            <label for="type" class="form-control-label" style="color:white;">Edit Type</label>
            <input name="course[type]" type="text" class="form-control" value="<%=course.type%>">
          </div>

          <div class="form-group">
            <label for="code" class="form-control-label" style="color:white;">Code</label>
            <input name="course[code]" type="text" class="form-control" readonly value="<%=course.code%>">
          </div>

          <div class="form-group">
            <label for="mentor" class="form-control-label" style="color:white;">Edit mentor</label>
            <input name="course[mentor]" type="text" class="form-control" value="<%=course.mentor%>">
          </div>
          
          <div class="form-group">
            <label for="domain" class="form-control-label" style="color:white;">Edit domain</label>
            <input name="course[domain]" type="text" class="form-control" value="<%=course.domain%>">
          </div>
          <div class="form-group">
            <label for="period" class="form-control-label" style="color:white;">Edit domain</label>
            <input name="course[period]" type="number" class="form-control" value="<%=course.period%>">
          </div>
          <div class="form-group">
            <label for="description" style="color:white;">Edit Description</label>
            <textarea name="course[description]" cols="30" rows="10" class="form-control"><%=course.description%></textarea>
          </div>
          
          <button class="btn btn-block btn-warning">Update</button>
        </form>
    </div>
  </div>
</div>


<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('course[description]');
</script>
<% include ../partials/footer %>